{% load static %}

<section>

  <div class="header container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-md-6">
        <div class="name-container">
          <div class="centering-div">
            <img id="scampbell" src="{% static 'main/images/long_logo.png' %}" alt="Scott Campbell" />
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="heading-container col-md-8 col-md-offset-2">
        <div id="heading" class="">
          <h2><span class="color-accent-yellow">.:</span> musician <span class="color-accent-yellow">|</span> artist <span class="color-accent-yellow">|</span> full-stack developer <span class="color-accent-yellow">:.</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- NAVIGATION -->

<section>
  <div class="row hidden-sm hidden-md hidden-lg">
      <div class="navigation navbar col-xs-6 col-xs-offset-3">
        <ul class="nav navbar-nav">
          <li><a href="#">PROJECTS</a></li>
          <li><a href="#">ABOUT</a></li>
        </ul>
      </div>
  </div>
</section>
