{% extends 'base.html' %}

{% block content %}

  {% load static %}
    <body id="body" background="{% static 'main/images/martin-sanchez-trees.jpg' %}">


      <!-- conent wrapper for loading screen will be #page -->
      <section id="page">

        <!-- P5 SKETCH -->
        <section>
          <div class="sketch-container container">
            <div class="row hidden-xs">

              <div class="col-md-8 col-md-offset-2">
                <div id="homeSketchContainer"></div>
              </div>

            </div>
          </div>
        </section>


        <!-- SOCIAL MEDIA ICONS -->

        <section>

          <div class="icons-row">
            <div class="icons-container">

              <div id="email" class="icon-container">
                <span><a href="#"><img class="icon" src="{% static 'main/images/icons/email-white-transparent-xxl.png' %}" alt="" /></a></span>
              </div>

              {% for icon in icons.all %}
                <div id="{{icon.css_id}}" class="icon-container">
                  <span><a href="{{icon.url}}" target="_blank"><img class="icon" src="{{ icon.icon_image.url }}" /></a></span>
                </div>
              {% endfor %}

            </div>
          </div>
        </section>





      <!-- BUTTONS -->
      <!--*********-->

      <section class="hidden-xs">

        <div class="">
          <a href="#projects">
            <div class="button-transition left-button-slide projects-open-button">
              <ul>
                <li>P</li>
                <li>R</li>
                <li>O</li>
                <li>J</li>
                <li>E</li>
                <li>C</li>
                <li>T</li>
                <li>S</li>
                <li><span class="glyphicon glyphicon-plus"></span></li>
              </ul>
            </div>
          </a>
        </div>

        <a href="pages/about_page.html">
          <div class="button-transition right-button-slide about-open-button">
            <ul>
              <li>A</li>
              <li>B</li>
              <li>O</li>
              <li>U</li>
              <li>T</li>
              <li><span class="glyphicon glyphicon-certificate"></span></li>
              <li>M</li>
              <li>E</li>
            </ul>
          </div>
        </a>

      </section>





      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!--        PROJECTS          -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <section id="projects" class="projects-modal container">

        <div class="row">

          <div class="header-shell col-xs-6 col-xs-offset-3">
            <h1 class="projects-header"><span class="color-accent-yellow"> [ </span>PROJECTS<span class="color-accent-yellow"> ] </span></h1>
          </div>

        </div>

      </section>




    </section id="page">
    <!-- /CONTENT -->
{% endblock %}
