{% extends 'base.html' %}

{% block content %}

  {% load static %}
    <body id="body" background="{% static 'main/images/martin-sanchez-trees.jpg' %}">


      <!-- conent wrapper for loading screen will be #page -->
      <section id="page">

        <!-- HEADER -->
        



        <!-- P5 SKETCH -->
        <section>
          <div class="sketch-container container">
            <div class="row hidden-xs">

              <div class="col-md-8 col-md-offset-2">
                <div id="homeSketchContainer"></div>
              </div>

            </div>
          </div>
        </section>





        <!-- SOCIAL MEDIA ICONS -->

        <section class="">

          <div class="icons-row">
            <div class="icons-container">

              <div id="email" class="icon-container">
                <span><a href="#"><img class="icon" src="{% static 'main/images/icons/email-white-transparent-xxl.png' %}" alt="" /></a></span>
              </div>

              <div id="youtube" class="icon-container">
                <span><a href="https://www.youtube.com/channel/UCYqJ-EtqO6gVCPh4aDpckRA" target="_blank"><img class="icon" src="{% static 'main/images/icons/youtube-logo-light.png' %}" alt="" /></a></span>
              </div>

              <div id="github" class="icon-container">
                <span><a href="https://github.com/scottc11" target="_blank"><img class="icon" src="{% static 'main/images/icons/gitHub-mark-light-120px-plus.png' %}" alt="" /></a></span>
              </div>

              <div id="twitter" class="icon-container">
                <span><a href="https://twitter.com/Scott_Camp" target="_blank"><img class="icon" src="{% static 'main/images/icons/twitter_social_icon_white.png' %}" alt="" /></a></span>
              </div>

              <div id="soundcloud" class="icon-container">
                <span><a href="https://soundcloud.com/scottcamp" target="_blank"><img class="icon" src="{% static 'main/images/icons/soundcloud-white-transparent-64.png' %}" alt="" /></a></span>
              </div>

              <div id="linkedIn" class="icon-container">
                <span><a href="https://ca.linkedin.com/in/scottcampbell14" target="_blank"><img class="icon" src="{% static 'main/images/icons/in-white-75px-tm.png' %}" alt="" /></a></span>
              </div>

            </div>
          </div>
        </section>





      <!-- BUTTONS -->
      <!--*********-->

      <section class="hidden-xs">

        <div class="">
          <a href="#projects">
            <div class="button-transition left-button-slide projects-open-button">
              <ul>
                <li>P</li>
                <li>R</li>
                <li>O</li>
                <li>J</li>
                <li>E</li>
                <li>C</li>
                <li>T</li>
                <li>S</li>
                <li><span class="glyphicon glyphicon-plus"></span></li>
              </ul>
            </div>
          </a>
        </div>

        <a href="pages/about_page.html">
          <div class="button-transition right-button-slide about-open-button">
            <ul>
              <li>A</li>
              <li>B</li>
              <li>O</li>
              <li>U</li>
              <li>T</li>
              <li><span class="glyphicon glyphicon-certificate"></span></li>
              <li>M</li>
              <li>E</li>
            </ul>
          </div>
        </a>

      </section>





      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <!--        PROJECTS          -->
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <section id="projects" class="projects-modal container">

        <div class="row">

          <div class="header-shell col-xs-6 col-xs-offset-3">
            <h1 class="projects-header"><span class="color-accent-yellow"> [ </span>PROJECTS<span class="color-accent-yellow"> ] </span></h1>
          </div>

        </div>

      </section>




    </section id="page">
    <!-- /CONTENT -->
{% endblock %}
